@media(min-with: 1299px)
{
    #navigationlist{
        visibility: visible;
    }

    #smallScreenNav{
        visibility: hidden;
    }

}

@media(max-width: 1300px)
{
    #navigationlist{
        visibility: hidden;
    }

    #smallScreenNav{
        visibility: visible;
    }
}